body{
  background-color: rgb(253, 255, 223);
  border: 15px solid red;
  border-radius: 20px;
  margin: 30px;
  height: 600px;
}

.t1{
  color: red;
  font-family: 'Londrina Solid', cursive;
  font-size: 40px;
}

.t2{
  font-family: monospace;
  float:right;
  color:red;
  margin-left: 20%;
}

h2{
  margin-left: 10%;
}